.container {
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  border-radius: 28px;
  width: 100%;
  min-height: 735px;
  background-color: #fff;
}

@media (max-width: 991px) {
  .container {
    max-width: 991px;
    flex-direction: column;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 640px;
  }
}
